**/target/
**/node_modules/
.idea
*.iml
.project
.settings
starter/**/jboot.properties
*.jar
*.log
.logs
logs
*.iws
*.classpath
.DS_Store
*.patch
~$*
*/*.jar
docker_volumes/
package-lock.json
yarn.lock
/docs/.vitepress/cache/
/docs/.vitepress/dist/
/docs/pnpm-lock.yaml
application-dev.yml
